### <font color="brown">Problem Set 9: Pandas - Solution</font>

In [19]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

---

#### Problem 1: 

**Series and DataFrame - Short Answer Questions**

**1. What does the following code print?**

<pre>
ser = Series({'A':25, 'B':31, 'C':26},name='scores')
print(ser.reset_index().scores[1])
</pre>

**Solution**

Resetting the index converts the series into a dataframe with the columns
'index' and 'scores'. <br>The scores column is the original values in the series,
so .scores[1] accesses the 2nd value in the column, which is 31.

**---------------------------------------------------------------**

**2. What does the following code print?**

<pre>
df = DataFrame(np.arange(1,9).reshape(4,2), index=['A','B','C','D'])
df.loc['B':'D'][0].max()
</pre>

**Solution**

It prints 7.<br>
Rows indexed B,C,D are retrived with loc, of which the first column
is accessed with [0], for values [5,6,7] whose max is 7.

**---------------------------------------------------------------**

**3. Write 3 different ways to extract the last 3 rows of the following DataFrame**

<pre>
df = DataFrame(np.arange(1,25).reshape(4,6))
</pre>

**Solution**
1. Use iloc: <pre>df.iloc[1:]</pre>
2. Use loc, with explicit list of row indexes: <pre>df.loc[[1,2,3]]</pre>
3. Use loc, with slice of row indices: <pre>df.loc[1:3]</pre>

**---------------------------------------------------------------**

**4. What is the result of the following?**

<pre>
data = DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Abby'],
   'subject_id':['sub1','sub2','sub3','sub4','sub5']})

data.T[1:3][2][0]
</pre>

**Solution**

The result is 'Allen'<br>
data.T transposes the dataframe, so that id, Name, subject_id become the
index, and their original dictionary values become the row values.<br>
[1:3] on this gives the last two rows, for Name and subject_id.<br>
[2] on this gives the third column (which has the values 'Allen' and'sub3') and
[0] on this gives 'Allen'.

<p>The indexing can become a little confusing. We are not using loc or iloc here, but directly doing [] into the dataframe. The obvious use of this is to access column. Try the following, and observe what works (and how),
and what doesn't work:
<pre>
data.T[2]
data.T[2,3]
data.T[[2,3]]
data.T[1:2]
data.T.iloc[1:2]
data.T[1:3,2]
data.T.iloc[1:3,2]
</pre>

**---------------------------------------------------------------**

**5. For the dataframe given below which of the which of the following will make Yale an IVY, and NYU not an IVY, by setting the respective NaNs to 'Yes' and 'No'?:**

1. data['IVY'] = data['IVY'].fillna(method='bfill')
2. data['IVY'] = data['IVY'].fillna(method='ffill')
3. data['IVY'] = data['IVY'].fillna('Yes')
4. None of the above

<pre>
data = pd.DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
</pre>

**Solution**

None of the above.
1. 'bfill' won't change the last NaN (for NYU)
2. 'ffill' will set Yale's NaN to 'No'
3. 'Yes' will set both Yale and NYU to 'Yes'

---

#### Problem 2

For the sub problem #5 above, write code that will give the desired result

#### Solution

In [20]:
data = pd.DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
data

      Univ  IVY
0      USC   No
1     Yale  NaN
2  Harvard  Yes
3     UCLA  NaN
4     NCSU   No
5      NYU  NaN

In [21]:
data.loc[data['Univ'] == 'Yale','IVY'] = 'Yes'
data.loc[data['Univ'] == 'NYU','IVY'] = 'No'
data

      Univ  IVY
0      USC   No
1     Yale  Yes
2  Harvard  Yes
3     UCLA  NaN
4     NCSU   No
5      NYU   No

---

#### Problem 3
Execute the code below to get a series called nums. <br>
Fill in the missing values (NaN) by the rounded off mean value of the series and get a subset of the series where the numbers are divisible by 3.

In [22]:
from numpy import nan as NA
nums = pd.Series(np.random.randint(1, 10, 20))
for i in range(5):
    nums[np.random.randint(0, 20, 1)] = NA

#### Solution

In [23]:
nums[nums.isnull()] = round(nums.mean())
res_nums = nums[nums%3 == 0]
print(res_nums)

0     3.0
1     6.0
2     9.0
3     9.0
6     6.0
8     3.0
9     3.0
10    6.0
11    9.0
12    9.0
14    6.0
15    6.0
17    6.0
19    6.0
dtype: float64

---

#### Problem 4

Given the following series, keep only top 2 most frequent values as is, and replace everything else with 'Other'

<pre>
  ser = pd.Series(np.random.randint(1, 6, [12]))
</pre>

Hint: Use Series method <tt>isin</tt>

#### Solution

In [24]:
ser = pd.Series(np.random.randint(1, 6, [12]))
print(ser,'\n')

# compute the value counts and get top 2 (most frequent)
top2freq = ser.value_counts()[:2]
print('Top 2 Freq:\n', top2freq,'\n')

# check for membership of value in index of top 2 frequent values
# negate it for assigning to other
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print(ser)

0     3
1     5
2     1
3     1
4     5
5     3
6     3
7     3
8     1
9     5
10    2
11    3
dtype: int64

Top 2 Freq:
 3    5
5    3
dtype: int64

0         3
1         5
2     Other
3     Other
4         5
5         3
6         3
7         3
8     Other
9         5
10    Other
11        3
dtype: object

---

#### Problem 5

In the following Series, convert the first character of each word to uppercase. (Hint: the title() method of String converts the first letter of each word to uppercase, and all others to lowercase. Also try without using the title() method)

<pre>
   ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])
</pre>

#### Solution

In [25]:
ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])

# Option 1 (using title)
ser.map(lambda x: x.title())

# Option 2 -> without using title 
def titleit(x):
    str=''
    for w in x.split():
        str += ' ' + w[0].upper() + w[1:].lower()
    return str

ser.map(titleit)

# Option 3 -> without using map
pd.Series([i.title() for i in ser])

0               How
1         To Easily
2             Learn
3    Spoken Spanish
dtype: object

---

#### Problem 6

Write code to pick words in a Series that contain at least 2 vowels.

#### Solution

In [27]:
from collections import Counter

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def filter_word(x):
    cnt = 0
    c = Counter(x.lower())
    for v in 'aeiou':
        cnt += c.get(v, 0)
    return cnt >= 2

mask = ser.map(filter_word)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

---

#### Problem 7

Write a generic function to switch the columns of a dataframe. (Take column names as input to function)

#### Solution

In [33]:
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]