In [352]:
def filterTemps(f):
    result = []
    for line in open(f):
        #list of data in format ['Toy Story (1995)', '4.0']
        data = line.replace(' ', '')
        #data.split(':')
        date = data[0:3]
        if date == "Jan":
            d = "01"
        if date == "Feb":
            d = "02"
        if date == "Mar":
            d = "03"
        if date == "Apr":
            d = "04"
        if date == "May":
            d = "05"
        if date == "Jun":
            d = "06"
        if date == "Jul":
            d = "07"
        if date == "Aug":
            d = "08"
        if date == "Sep":
            d = "09"
        if date == "Oct":
            d = "10"
        if date == "Nov":
            d = "11"
        if date == "Dec":
            d = "12"
        day = str(data[3:5])
        if ":" in day:
            day = day.replace(":", "")
            day = day.zfill(2)
        temp = data.split(":")[-1]
        temp = temp.rstrip()
        s = (f"{d}/{day}", temp)

        result.append(s)
    
    result = result[:-1]
    return(result)

In [353]:
print(filterTemps('temps.txt'))

[('03/15', '46'), ('01/02', '32'), ('09/09', '79'), ('08/16', '101'), ('04/05', '57')]

In [284]:
data = "Mar 15: 46"

In [285]:
data.replace(' ', '')
data.split(':')

['Mar 15', ' 46']

In [52]:
print(temp)

['Mar 15', ' 46']

In [53]:
print(temp[1])

 46

In [123]:
def test():
    for i in range(1, 101):
        if(i % 4==0):
        print(i)

IndentationError: expected an indented block (Temp/ipykernel_8692/65863528.py, line 4)

In [124]:
numbers = [x for x in range(100) if x % 4 == 0]

In [126]:
print(numbers)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [132]:
list = [("city1", 70), ("city2", 50), ("city3", 75)]

In [137]:
print(list[0][1])

70

In [143]:
city_temp = [x in range(list) if list[x] >= 70]

SyntaxError: invalid syntax (Temp/ipykernel_8692/2095166162.py, line 1)

In [ ]:
def wordcount (f):
    result = []
    for line in open(f):
        data = line.replace(' ', '')
        #data.split(':')
        date = data[0:3]

In [293]:
list = [('this',2),('absolutely',1),('amazing',1),('crazy',1),('movie',2),
  ('what',1),('funniest',1),('year',1)]

In [294]:
print(list)

[('this', 2), ('absolutely', 1), ('amazing', 1), ('crazy', 1), ('movie', 2), ('what', 1), ('funniest', 1), ('year', 1)]

In [296]:
mul_of3 = [x in range(1,11) if (x)+(x-1) == 3]

SyntaxError: invalid syntax (Temp/ipykernel_8692/1986769110.py, line 1)

In [298]:
city = [city for city, temperature in city_temp if temperature > 70]

NameError: name 'city_temp' is not defined

In [299]:
list = [("city1", 70), ("city2", 50), ("city3", 75)]

In [300]:
city = [city for city, temperature in list if temperature > 70]

In [301]:
print(city)

['city3']

In [302]:
list = [1,2,3,4,5,6,7,8,9,10]

In [341]:
def mul_of_3(list,n=10):
    res = []
    for i in range(0,n,1):
        for j in range(i,n,1):
            if ((list[i]+list[j])%3 == 0):
                pair = (list[i], list[j])
                res.append(pair)
    return res

In [342]:
print(mul_of_3(list))

[(1, 2), (1, 5), (1, 8), (2, 4), (2, 7), (2, 10), (3, 3), (3, 6), (3, 9), (4, 5), (4, 8), (5, 7), (5, 10), (6, 6), (6, 9), (7, 8), (8, 10), (9, 9)]