In [2]:
def calc():
    var = input("Enter yearly salary: ")
    var = float(var)
    print(var/52/40)

In [3]:
calc()

Enter yearly salary:  50000

24.03846153846154

In [4]:
calc()

Enter yearly salary:  5000o

ValueError: could not convert string to float: '5000o'

In [13]:
def calc():
    while True:
        try:
            var = input("Enter yearly salary: ")
            var = float(var)
            print(var/52/40)
            break
        except ValueError as err:
            print('must enter an integer value!')

In [6]:
calc()

Enter yearly salary:  asdf

must enter an integer value!

In [10]:
calc()

NameError: name 'true' is not defined

In [12]:
calc()

Enter yearly salary:  asdf

must enter an integer value!

Enter yearly salary:  asdf

must enter an integer value!

Enter yearly salary:  asdf

must enter an integer value!

Enter yearly salary:  asdf

must enter an integer value!

Enter yearly salary:  asdf

must enter an integer value!

Enter yearly salary:  as

must enter an integer value!

Enter yearly salary:

must enter an integer value!

Enter yearly salary:  50000

24.03846153846154

In [59]:
def calc():
    while True:
        try:
            option = int(input("salary to hourly or hourly to salary? Enter 1 or 2"))
            if(option==1):
                sal2h()
                break
            elif(option==2):
                h2sal()
                break
        except ValueError as err:
            print('must enter a valid option!')

In [31]:
def sal2h():
    while True:
        try:
            var = input("Enter yearly salary: ")
            var = float(var)
            print(var/52/40)
            break
        except ValueError as err:
            print('must enter an integer value!')

In [55]:
def h2sal():
    while True:
        try:
            var = input("Enter hourly wage: ")
            var = float(var)
            print(var*52*40)
            break
        except ValueError as err:
            print('must enter an integer value!')